body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: burlywood;
    color: darkmagenta;
}
#main-title {
    text-align: center;
}
.content {
    margin-bottom: 12px;
}